name: Promote to live
on: 
  workflow_dispatch:
    inputs:
      track:
        description: 'Track'     
        required: true
        default: 'stg'
      force-update:
        type: boolean
        description: Force commit
      skip-canary:
        type: boolean
        description: Skip Canary

jobs:
  promote:
    name: Promote staging version to live
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2

    - name: Generate dalamud-distrib version file
      shell: powershell
      env:
        DALAMUD_TRACK: ${{ github.event.inputs.track }}
        SKIP_CANARY: ${{ github.event.inputs.skip-canary }}
        FORCE_UPDATE: ${{ github.event.inputs.force-update }}
      run: |
        $trackName = $env:DALAMUD_TRACK
        $skipCanary = $env:SKIP_CANARY
        $forceUpdate = $env:FORCE_UPDATE

        Expand-Archive -Path ".\${trackName}\latest.zip" -DestinationPath .\scratch -Force
                
        $dllBytes = [System.IO.File]::ReadAllBytes("$(Get-Location)\scratch\Dalamud.dll")
        $assembly = [System.Reflection.Assembly]::Load($dllBytes)
        $newVersion = $assembly.GetName().Version.ToString()

        $versionData = Get-Content .\version | ConvertFrom-Json
        $oldVersion = $versionData.AssemblyVersion
        if (($oldVersion -eq $newVersion) -and ($forceUpdate -eq 'false')) {
            Write-Host "Nothing to promote"
        }
        else {
            Write-Host "Remove useless files and package scratch"
            Remove-Item -Force -Recurse .\scratch\*.pdb
            Remove-Item -Force -Recurse .\scratch\*.xml
            Remove-Item -Force -Recurse .\scratch\runtimes\linux-x64
            Remove-Item -Force -Recurse .\scratch\runtimes\osx-x64
            Remove-Item -Force -Recurse .\scratch\runtimes\win-x86
            Remove-Item -Force -Recurse .\scratch\hashes.json

            Write-Host "Create hashlist"
            $hash = .\CreateHashList.ps1 .\scratch 

            Remove-Item -Force .\${trackName}\latest.7z

            7z a .\${trackName}\latest.7z .\scratch\* -t7z -mx=9 
            if ($skipCanary -eq 'true') {
                Copy-Item -Force -Path ".\${trackName}\latest.7z" -Destination .\latest.7z
                $versionData.AssemblyVersion = $newVersion
                $versionData.Hash = $hash
                $versionText = $versionData | ConvertTo-Json -Compress
                [System.IO.File]::WriteAllLines(".\version", $versionText)
                  
                Write-Host "Promotion OK with skip canary"
            }
            else {
                Copy-Item -Force -Path ".\${trackName}\latest.7z" -Destination .\canary\latest.7z
                $versionData.AssemblyVersion = $newVersion
                $versionData.Hash = $hash
                $versionText = $versionData | ConvertTo-Json -Compress
                [System.IO.File]::WriteAllLines(".\canary\version", $versionText)
                  
                Write-Host "Promotion OK for canary"
            }
        }
        
        Remove-Item -Force -Recurse .\scratch  

        echo "DVER=${newVersion}"
        
    - name: Commit changes
      shell: bash
      run: |
        git config --global user.name "Actions User"
        git config --global user.email "actions@github.com"
        
        git add .
        git commit -m "[CI] Promoting for ${DVER} from ${{ github.event.inputs.track }}, skip canary: ${{ github.event.inputs.skip-canary }}" || true
        
        git push origin main || true
        
    - name: Clear Web Services cache
      run: curl -X POST --fail https://aonyx.ffxiv.wang/Dalamud/Release/ClearCache?key=${{ secrets.CACHE_CLEAR_KEY }}
